<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/sample.css">

</head>
<body>
	<a id="skippy" class="sr-only sr-only-focusable" href="#content">
		<div class="container">
			<span class="skiplink-text">Skip to main content</span>
		</div>
	</a>

	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a href="/" class="navbar-brand d-flex align-items-center"> <strong>掲示板</strong>
				</a>
				<div class="navbar-brand d-flex align-items-center">
					<div>名前：</div>
					<div th:text="${name}"></div>
				</div>
				<form action="/changeName" method="GET">
					<input type="submit" class="navbar-toggler" data-toggle="collapse"
						data-target="#navbarHeader" aria-controls="navbarHeader"
						aria-expanded="false" aria-label="Toggle navigation" value=名前の変更>
				</form>
			</div>
		</div>
	</header>

	<main role="main">



		<div class="album py-5 bg-light">

			<h3>スレッドいちらん</h3>
			<form action="/search" method="POST">
				スレッド検索： <input type="search" name="search"> <input
					type="submit" value="検索">

				<div th:if="${#fields.hasErrors('searchForm.search')}"
					th:errors="*{searchForm.search}" class="alert alert-danger">投稿エラー</div>
			</form>
			<div class="container">

				<div class="row">
					<!-- 検索結果が0件だった時 -->
					<th:block th:if="${data.size()==0 }">
						<p>該当条件なし</p>
					</th:block>
					<!-- 検索結果が1件以上あったとき -->
					<th:block th:unless="${data.size()==0}">
						<!-- スレッドを表示させる繰り返し -->
						<th:block th:each="entity : ${data}">
							<div class="col-md-4">
								<div class="card mb-4 shadow-sm">
									<img class="card-img-top"
										data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
										alt="Thumbnail [100%x225]"
										style="height: 150px; width: 100%; display: block;"
										src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_178a9a7c91e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_178a9a7c91e%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.921875%22%20y%3D%22117.50625%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
										data-holder-rendered="true">
									<div class="card-body">
										<h5 th:text="${entity.title}"></h5>
										投稿者
										<p th:text="${entity.name}" class="card-text sample tovf2"></p>
										本文
										<p th:text="${entity.message}" class="card-text sample tovf2"></p>

										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<form action="/comment" method=POST>
													<input type="hidden" name="threadNumber"
														th:value="${entity.id}"> <input type="submit"
														value="詳細を見る" class="btn btn-sm btn-outline-secondary">
												</form>
											</div>
											<small class="text-muted">9 mins</small>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</th:block>
				</div>
			</div>
		</div>

		<section class="jumbotron text-left">
			<div class="container">
				<h3 class="jumbotron-heading">新規スレッド作成</h3>
				<form action="/newThread" method="POST">
					<p>タイトル</p>
					<input type="text" name="title">
					<p>本文</p>
					<textarea id="message" name="message" cols="50" rows="5"></textarea>
					<div th:if="${#fields.hasErrors('threadForm.message')}"
						th:errors="*{threadForm.message}" class="alert alert-danger">投稿エラー</div>
					<!-- <form:textarea path="message" rows="5" cols="30"></form:textarea> -->
					<input type="submit" value="作成する">

				</form>
			</div>
		</section>

	</main>

	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">ページトップ</a>
			</p>
			<p>作成者 川内</p>
			<p>
				<a href="../../">ホームへ戻る</a>
			</p>
		</div>
	</footer>
	<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>